@font-face{font-family:Morp;src:url('morpheus-webfont.eot');src:url('morpheus-webfont.eot?#iefix') format('embedded-opentype'),url('morpheus-webfont.woff2') format('woff2'),url('morpheus-webfont.woff') format('woff'),url('morpheus-webfont.ttf') format('truetype'),url('morpheus-webfont.svg#morpheusregular') format('svg');font-weight:normal;font-style:normal;}

body{background-color:#000;background-image:url(files/bg.png);background-repeat:repeat}

#container_general{width:1103px;height:239px;margin:0 auto;text-align:center;margin-top:0px;background-image:url(files/rank_01_01.png);background-repeat:no-repeat;}
#botones{width:1103px;height:54px;margin:0 auto;text-align:center;margin-top:0px;background-image:url(files/rank_01_02.png);background-repeat:no-repeat;font-family:Morp;font-size:20px;color:#FFF;text-shadow:0 0 15px rgba(1,1,1,1);}
#ranking{width:1103px;height:1490px;margin:0 auto;text-align:center;margin-top:0px;background-image:url(files/rank_01_03.png);background-repeat:no-repeat;}

#copms{width:800px;height:10px;margin-left:125px;margin-top:-40px;}


a:link{color:#FFF;text-decoration:none;}
a:visited{color:#FFF;text-decoration:none;}
a:hover{color:#FFF;text-decoration:none;}
a:active{color:#FFF;text-decoration:none;}
a.menusection1{font-family:Morp;font-size:20px;color:#FFF;text-decoration:none;margin-left:15px;text-shadow:0 0 1px rgba(0,0,0,0);-webkit-transition-duration:0.3s;transition-duration:0.3s;-webkit-transition-property:text-shadow;transition-property:text-shadow;}
a.menusection1:hover{text-shadow:0 0 7px #FFF;color:#FFF;}
a.menusection1:visited,a.menusection1:active{color:#FFF;}
a.menusection3{font-family:Morp;font-size:20px;color:#FFF;text-decoration:none;margin-left:10px;text-shadow:0 0 1px rgba(0,0,0,0);-webkit-transition-duration:0.3s;transition-duration:0.3s;-webkit-transition-property:text-shadow;transition-property:text-shadow;}
a.menusection3:hover{text-shadow:0 0 7px #FFF;color:#FFF;}
a.menusection3:visited,a.menusection1:active{color:#FFF;}
a.linkmal,a.link:hover,a.link:visited,a.link:active{color:#00F;}
a.menudonar{font-family:Morp;font-size:20px;color:#FFAA00;text-decoration:none;margin-left:15px;text-shadow:0 0 1px rgba(0,0,0,0);-webkit-transition-duration:0.3s;transition-duration:0.3s;-webkit-transition-property:text-shadow;transition-property:text-shadow;}
a.menudonar:hover{text-shadow:0 0 7px #FFF;color:#FFAA00;}
a.menudonar:visited,a.menudonar:active{color:#FFAA00;}

#titulo{font-family:Morp;font-size:25px;text-shadow:0 10 10px rgba(1,1,1,1);color:#FFF;}

#descargas{color:#FFF;font-family:Arial;font-size:20px;text-shadow:0 0 10px rgba(255,255,1,1);}

#texto{font-family:Arial;font-size:15px;color:#FFF;text-shadow:0 0 15px rgba(1,1,1,1);}
#textodona{font-family:Arial;font-size:13px;color:#FFF;text-shadow:0 0 15px rgba(1,1,1,1);}
#textdon{font-family:Arial;font-size:13px;color:#FFAA00;text-shadow:0 0 15px rgba(1,1,1,1);}


#linktexto{font-family:Arial;font-size:20px;color:#FFF;text-shadow:0 0 15px rgba(1,1,1,1);}

#subtitulo1{font-family:Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;font-size:12px;color:#CCC;}a.staffa,a.staffa:hover,a.staffa:active,a.staffa:visited{color:#FFF;font-family:Morp,sans-serif;font-size:26px;text-decoration:underline;}.staff_titulo{color:#FFF;font-family:Morp,sans-serif;font-size:24px;border-bottom:solid 2px #AF0002;padding:7px;width:400px;margin:0 auto;}.staff_main{width:390px;margin:0 auto;height:120px;clear:both;}#d1{float:left;}#d2{float:right;}#d3{float:left;}#d4{margin:auto;}#d1,#d2,#d3,#d4{padding:5px;width:170px;height:100px;}.staff_nick{color:#FF8600;font-size:24px;font-family:Morp,sans-serif;text-shadow:#000000 1px 1px 1px;}.staff_name{color:#FFF;font-size:14px;font-weight:bold;font-family:Arial,sans-serif;}.staff_desc{color:#CCC;font-size:11px;font-family:Arial,sans-serif;margin-top:4px;}
#subtitulo{font-family:Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;font-size:14px;color:#CCC;}a.staffa,a.staffa:hover,a.staffa:active,a.staffa:visited{color:#FFF;font-family:Morp,sans-serif;font-size:26px;text-decoration:underline;}.staff_titulo{color:#FFF;font-family:Morp,sans-serif;font-size:24px;border-bottom:solid 2px #AF0002;padding:7px;width:400px;margin:0 auto;}.staff_main{width:390px;margin:0 auto;height:120px;clear:both;}#d1{float:left;}#d2{float:right;}#d3{float:left;}#d4{margin:auto;}#d1,#d2,#d3,#d4{padding:5px;width:170px;height:100px;}.staff_nick{color:#FF8600;font-size:24px;font-family:Morp,sans-serif;text-shadow:#000000 1px 1px 1px;}.staff_name{color:#FFF;font-size:14px;font-weight:bold;font-family:Arial,sans-serif;}.staff_desc{color:#CCC;font-size:11px;font-family:Arial,sans-serif;margin-top:4px;}

